@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ax02m0');
  src:  url('fonts/icomoon.eot?ax02m0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ax02m0') format('truetype'),
    url('fonts/icomoon.woff?ax02m0') format('woff'),
    url('fonts/icomoon.svg?ax02m0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
  content: "\e901";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-quill:before {
  content: "\e907";
}
.icon-blog:before {
  content: "\e909";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-play:before {
  content: "\e912";
}
.icon-film:before {
  content: "\e913";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-barcode:before {
  content: "\e937";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-phone:before {
  content: "\e942";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-printer:before {
  content: "\e954";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-glass:before {
  content: "\e9a0";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-point-up:before {
  content: "\ea03";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-down:before {
  content: "\ea05";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-spell-check:before {
  content: "\ea12";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-vimeo2:before {
  content: "\eaa1";
}
.icon-github:before {
  content: "\eab0";
}
.icon-blogger2:before {
  content: "\eab8";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-yahoo2:before {
  content: "\eabc";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-soundcloud2:before {
  content: "\eac4";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
